<% if user_signed_in? && @user == current_user %>
  <h1><%= t('.mypage') %></h1>
<% else %>
  <h1><%= t('.userpage') %></h1>
<% end %>
<p><%= image_tag(@user.avatar, class: 'mypage_icon') if @user.avatar.attached? %></p>
<p><%= t('.userid') %>:<%= @user.id %></p>
<p><%= t('.username') %>：<%= @user.username %></p>

<% if user_signed_in? && @user == current_user %>
  <p><%= t('.email') %>：<%= @user.email %></p>
  <p><%= t('.postal') %>：<%= @user.postal %></p>
  <p><%= t('.address') %>：<%= @user.address %></p>
  <p><%= t('.introduction') %>：<%= @user.profile %></p>
  <%= link_to t('.edit'), edit_user_registration_path(current_user) %>
<% end %>

<%= link_to t('.top'), books_path %>
