<% if user_signed_in? && @user == current_user %>
  <h1><%= t('.mypage') %></h1>
<% else %>
  <h1><%= t('.userpage') %></h1>
<% end %>
<p><%= image_tag(@user.avatar, class: 'mypage_icon') if @user.avatar.attached? %></p>

<% unless @user == current_user %>
  <div id="follow_form">
  <% if current_user.following?(@user) %>
    <%= render 'unfollow' %>
  <% else %>
    <%= render 'follow' %>
  <% end %>
  </div>
<% end %>

<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div> 
<p><%= t('.userid') %>:<%= @user.id %></p>
<p><%= t('.username') %>：<%= @user.username %></p>
<p><%= t('.introduction') %>：<%= @user.profile %></p>

<% if user_signed_in? && @user == current_user %>
  <p><%= t('.email') %>：<%= @user.email %></p>
  <p><%= t('.postal') %>：<%= @user.postal %></p>
  <p><%= t('.address') %>：<%= @user.address %></p>
  <%= link_to t('.edit'), edit_user_registration_path(current_user) %>
<% end %>

<%= link_to t('.top'), books_path %>
